$grid-unit-width: 80px;
$grid-unit-height: 160px;

ul {
  @include display(flex);
  @include flex-wrap(wrap);
  max-width: 960px;

  li {
    @include flex-grow(1);
    height: 100px;

    &.quarter-width {
      min-width: $grid-unit-width * 3;
    }

    &.third-width {
      min-width: $grid-unit-width * 4;
    }

    &.half-width {
      min-width: $grid-unit-width * 6;
    }

    &.two-thirds-width {
      min-width: $grid-unit-width * 8;
    }

    &.three-quarters-width {
      min-width: $grid-unit-width * 9;
    }

    &.full-wide {
      min-width: $grid-unit-width * 12;
    }

    &.double-height {
      height: $grid-unit-height * 2;
    }

    &.triple-height {
      height: $grid-unit-height * 3;
    }
  }
}