// Vendor imports
@import "vendor/reset/reset";
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
@import "vendor/font-awesome/scss/font-awesome";

// My imports
@import "grid";
@import "fonts";

body {
  font-family: $helvetica;
  -webkit-font-smoothing: antialiased;
}

main {
  div.card {
    @include third-width;
    border-top: 5px solid black;
  }
}


